<h1>Tratamentos</h1>

<turbo-frame id="treatments-list">
  <div class="treatments-grid" id="treatments">
    <% @treatments.each do |treatment| %>
      <%= render treatment %>
    <% end %>
  </div>

  <% if @treatments.empty? %>
    <div class="empty-state">
      <p>Nenhum tratamento cadastrado ainda.</p>
      <%= link_to "Cadastrar tratamento", new_treatment_path, class: 'btn btn-primary', data: { turbo_frame: '_top' } %>
    </div>
  <% else %>
    <div class="actions">
      <%= link_to "Novo tratamento", new_treatment_path, class: 'btn btn-primary', data: { turbo_frame: '_top' } %>
    </div>
  <% end %>
</turbo-frame>
