<turbo-frame id="treatments-form">
  <h1>Novo tratamento</h1>

  <%= render "form", treatment: @treatment %>

  <br>

  <div>
    <%= link_to "Voltar aos tratamentos", treatments_path, data: { turbo_frame: '_top' } %>
  </div>
</turbo-frame>
