<h1>Editar Solicitação de Exame</h1>

<%= render 'form', patient: @patient, exam_request: @exam_request %>

<nav class="actions">
  <%= link_to 'Ver', patient_exam_request_path(@patient, @exam_request), class: 'btn btn-secondary' %>
  <%= link_to 'Voltar', patient_exam_requests_path(@patient), class: 'cancel-link' %>
</nav>
