<main>
<h1>Turminha</h1>

<div id="dogs">
  <% @dogs.each do |dog| %>
    <%= render dog %>
    <p>
      <%= link_to "Show this dog", dog %>
    </p>
  <% end %>
</div>

<%= link_to "New dog", new_dog_path %>
</main>
