<main>
  <h1>Tasks</h1>

  <%= link_to "Nova tarefa", new_task_path %>
  <%= render 'simple_table', {
    keys: %w(Tarefa Detalhes), 
    rows: @tasks.map { |t| [ (link_to t.name, t), t.description ] }
    }
  %>
</main>
