<div id="<%= dom_id medication %>">
  <p>
    <strong>Name:</strong>
    <%= medication.name %>
  </p>

  <p>
    <strong>Active principle:</strong>
    <%= medication.active_principle %>
  </p>

</div>
