<main>
<h1>Editar compra</h1>

<%= render "form", purchase: @purchase %>

<br>

<div>
  <%= link_to "Ver esta compra", @purchase %> |
  <%= link_to "Lista de compras", purchases_path %>
</div>
</main>
