<main>
  <h1>Compras</h1>

  <%= link_to "Cadastrar compra", new_purchase_path %>
  <%= render 'simple_table', {
    keys: %w(Produto Preço), 
    rows: @purchases.map { |p| [
      (link_to p.product.name, p),
      p.price,
    ]}
  }
  %>
</main>
