<main>

  <div class="navigation">
    <%= link_to "Editar", edit_purchase_path %> |
  </div>

  <%= render @purchase %>

  <div class="actions">
    <%= button_to "Editar", edit_purchase_path %>
    <%= button_to "Apagar", @purchase, method: :delete %>
  </div>
</main>
