<div id="<%= dom_id payment %>">
  <p>
    <strong>Value:</strong>
    <%= payment.due_amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= payment.due_at %>
  </p>

  <p>
    <strong>Purchase:</strong>
    <%= payment.purchase_id %>
  </p>

</div>
