<div id="<%= dom_id payment %>">
  <p>
    <strong>Value:</strong>
    <%= payment.value %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>

  <p>
    <strong>Purchase:</strong>
    <%= payment.purchase_id %>
  </p>

</div>
