<h1>Editing medication product</h1>

<%= render "form", medication_product: @medication_product %>

<br>

<div>
  <%= link_to "Show this medication product", @medication_product %> |
  <%= link_to "Back to medication products", medication_products_path %>
</div>
