<main>
  <h1>Galeria</h1>

  <div>
    <%= button_to "Buscar galerias", action: "find_new_galleries" %>
  </div>

  <ul>
    <% @galleries.map do |gallery| %>
      <li><%= link_to gallery.name, gallery_path(gallery) %></li>
    <% end %>
  </ul>
</main>
