<div>
  <%= button_to "Gerar photos", action: "generate_photos" %>
</div>

<section class="photos">
<% @photos.map do |photo| %>
  <%= link_to photo, class: "photo in-list", style: "background-image: url('#{url_for(photo.file.representation(:thumb))}')" do %>
        <h1><%= photo.title %></h1>
    <% end %>
<% end %>
</section>
