/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/*
*/
:root {
  /* layout definition */
  --page-width: 120ch;

  --margin-tiny: 0.2em;
  --margin-small: 0.3236em;
  --margin-normal: 0.5236em;
  --margin-large: 0.8472em;
  --margin-enourmous: 1.3708em;

  /* colors definition */
  --prussian-blue: hsla(209, 80%, 16%, 1);
  --blush: hsla(345, 65%, 60%, 1);
  --shimmering-blush: hsla(348, 66%, 69%, 1);
  --mauvelous: hsla(348, 67%, 79%, 1);
  --baby-pink: hsla(350, 70%, 88%, 1);
  --sage: hsla(58, 31%, 67%, 1);
  --army-green: hsla(89, 66%, 16%, 1);
  --phthalo-green: hsla(89, 67%, 12%, 1);

  /* color usage */
  --color-primary: var(--phthalo-green);
  --color-secondary: var(--army-green);
  --background: white;
  --alert: var(--blush);
  --warning: var(--prussian-blue);
  --color-highlight: var(--sage);
  --color-highlight-background: var(--army-green);
  --link: var(--prussian-blue);

  /** widths */
  --width-short: 20ch;
  --width-regular: 40ch;
  --width-large: 80ch;
}

body {
  color: var(--color-primary);
  background: var(--background);
  margin: 0;
}

a {
  color: var(--link);
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

header {
  max-width: var(--page-width);
  margin: 0 auto;
  background: var(--color-highlight-background);
  padding: var(--margin-normal);
  box-shadow: var(--page-width) 0 0 var(--color-highlight-background),
              calc( -1 * var(--page-width)) 0 0 var(--color-highlight-background)
  ;
}
header a {
  color: var(--color-highlight);
}
main {
  max-width: var(--page-width);
  margin: var(--margin-enourmous) auto;
  padding: var(--margin-normal);
}

.actions {
  margin: var(--margin-normal) 0;
  background: var(--color-highlight);
  padding: var(--margin-normal);
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: var(--margin-normal);
}

table {
  width: 100%;
  border-collapse: collapse;
  border-top: double silver;
  border-bottom: double silver;
}

tr {
  border-bottom: solid thin silver;
}

th {
  padding: 0.5em 0;
  text-align: left;
}

@media only screen and (max-width: 599px) {
  td.optional, th.optional {
    display: none;
  }
}

td {
  padding: 0.5em 0;
}
@media only screen and (min-width: 600px) {
  td, th {
    paddig-left: 0.5em;
  }
}

details {
  border: dashed thin transparent;
  padding: var(--margin-normal);
  margin: var(--margin-normal);
}

details[open] {
  border-color: #888;
  background: #eee
}

fieldset {
  border: none;
  margin: var(--margin-normal) 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  fieldset {
    border: solid thin silver;
    margin: var(--margin-normal);
    padding: var(--margin-normal);
  }
}


fieldset summary {
  width: 20ch;
  text-align: right;
}

.entity {
  margin: var(--margin-large) 0;
}


#flash-messages {
  margin-left: calc( -0.5 * var(--page-width));
  padding: 1ch;
  position: fixed;
  text-align: center;
  top: 0;
  left: 50%;
  width: var(--page-width);
  background: var(--alert);
  display: grid;
  grid-template-columns: 1fr 20px;
}

/** Forms **/


input[type="text"], input[type="number"], input[type="date"], input[type="password"], input[type="email"]{
  width: 100%;
  padding: 1ch;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: 2em;
  height: 2em;
}

input[type="submit"], button[type="submit"] {
  padding: 0.5em 1em;
  background: var(--background);
  border-radius: var(--margin-small);
  border: none;
  color: var(--link);
  font-weight: bold;
}

input[type="submit"] a, button[type="submit"] a {
  color: var(--baby-pink);
}

.field {
  padding: var(--margin-tiny);
}
.field label {
  width: 20ch;
  display: inline-block;
  text-align: right;
}
.field label:after {
  content: ": ";
}

@media only screen and (min-width: 600px) {
  .field {
    display: flex;
  }
  .field label {
    padding: 1ch;
  }
  fieldset {
    margin: var(--margin-normal) 0;
  }
}

/* Key value pairs */
dl {
  display: grid;
  grid-template-columns: auto auto;
}

dt {
  font-weight: bold;
}

.calendar.month.picker {
  display: flex;
  justify-content: space-between;
  padding: var(--margin-large);
  box-shadow: var(--margin-tiny) var(--margin-tiny) var(--margin-normal) silver;
}


/**
 * Hamburger Menu
 */
/**

header nav ul li ul {
  display: none;
}

header nav ul li:hover ul {
  display: block;
  position: absolute;
  top: 0;
  left: 120px;
}

header nav ul {
  padding-left: 0;
}

header nav ul li {
  width: 120px;
  background: var(--color-secondary);
  color: var(--color-highlight);
  padding: var(--margin-normal);
  position: relative;
}

header nav ul li a {
  color: var(--color-highlight);
}

header nav ul li li {
  border-radius: 0;
}

@media only screen and (min-width: 600px) {
  header nav ul {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
  }

  header nav ul li {
    display: inline-block;
    width: 120px;
    text-align: center;
    background: var(--color-secondary);
    color: var(--color-highlight);
    padding: var(--margin-normal);
    border-radius: var(--margin-small);
    position: relative;
  }
  header nav ul li a {
    color: var(--color-highlight);
  }
  header nav ul li li {
    border-radius: 0;
  }

  header nav ul li:hover ul {
    top: 2.2em;
    left: 0;
  }
}

header nav ul li:hover ul li {
  display: block;
}

header nav {
  display: flex;
  align-items: center;
}
*/

header nav [type="checkbox"][name="toggle-menu"] {
  display: none;
}
header nav>label.menu.toggle {
  cursor: pointer;
  position: absolute;
  margin: -50px;
}

header nav ul>label.menu.toggle {
  cursor: pointer;
  position: absolute;
  left: -80px;
  top: 10px;
}

div.menu {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 450px;
  width: calc(100vw - 30px);
  height: 100%;
  transform: translate3d(-450px, 0, 0);
  transition: transform 0.35s, background-color 0.5s;
  z-index: 1;
  overflow: hidden;
}

input[name="toggle-menu"]:checked ~ label.overlay{
  display: block;
  left: 0;
  background: var(--background);
}

input[name="toggle-menu"]:checked ~ div.menu {
  transform: translate3d(0, 0, 0);
}

header nav label.menu.overlay {
  background-color: var(--background);
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  z-index: 1;
  display: none;
}
header nav .menu h2 {
  padding: 0 16px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}
header nav .menu h1 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
header nav .menu .menu {
  transform: translate3d(480px, 0, 0);
}
header nav .menu ul {
  height: 100%;
  overflow-y: auto;
  padding: var(--margin-normal);
}
header nav .menu ul li a, nav .menu ul li label {
  display: block;
  text-align: left;
  padding: 0 15px;
  line-height: 47px;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 1px solid #e8e8e8;
  position: relative;
}
header nav .menu ul li label.chevron::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-color: #333;
  border-style: solid;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
  top: 50%;
  margin-top: -5px;
  right: 16px;
}
header nav .m-menu ul li .-invisible {
  border-bottom: 0;
}
header nav .menu .menu label.toggle {
  display: flex;
  border-bottom: 0;
  padding: 0;
  box-sizing: content-box;
}


/* Cards */
div#cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--margin-normal);
}

.card {
  display: block;
  width: var(--width-regular);
  padding: var(--margin-normal);
  box-shadow: var(--margin-tiny) var(--margin-tiny) var(--margin-normal) silver;
  border-radius: var(--margin-tiny);
}

form {
  textarea {
    width: 100%;
  }
}

section.photos {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-normal);
}

.photo.in-list {
  display: block;
  width: var(--width-short);
  height: var(--width-short);
  border: solid thin silver;
  border-radius: 5px;
  padding: var(--margin-tiny);
  background-size: cover;
}

a.photo.in-list:hover {
 box-shadow: 5px 5px 5px silver;
}

article.photo {
  max-width: 100%;
  text-align: center;
}

picture img {
  max-width: 100%;
  max-height: 100vh;
}

nav.previous-next {
  display: flex;
  justify-content: space-between;
}
