/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*
--prussian-blue: hsla(209, 80%, 16%, 1);
--blush: hsla(345, 65%, 60%, 1);
--shimmering-blush: hsla(348, 66%, 69%, 1);
--mauvelous: hsla(348, 67%, 79%, 1);
--baby-pink: hsla(350, 70%, 88%, 1);
--sage: hsla(58, 31%, 67%, 1);
--army-green: hsla(89, 66%, 16%, 1);
--phthalo-green: hsla(89, 67%, 12%, 1);
*/
:root {
  --margin-tiny: 0.2em;
  --margin-small: 0.3236em;
  --margin-normal: 0.5236em;
  --margin-large: 0.8472em;
  --margin-enourmous: 1.3708em;
}

header {
  max-width: 80ch;
  margin: 0 auto;
}
main {
  max-width: 80ch;
  margin: var(--margin-enourmous) auto;
}

fieldset {
  border: solid thin silver;
  margin: var(--margin-normal) 0;
}

.field {
  padding: var(--margin-tiny);
}
.field label {
  width: 20ch;
  display: inline-block;
  text-align: right;
}
.field label:after {
  content: ":";
}

.actions {
  margin: var(--margin-normal) 0;
  background: #ddd;
  border: solid thin #888;
  padding: var(--margin-normal);
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: solid thin silver;
}

details {
  border: dashed thin transparent;
  padding: var(--margin-normal);
  margin: var(--margin-normal);
}

details[open] {
  border-color: #888;
  background: #eee
}

fieldset summary {
  width: 20ch;
  text-align: right;
}

.entity {
  margin: var(--margin-large) 0;
}
