/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --margin-tiny: 0.2em;
  --margin-small: 0.3236em;
  --margin-normal: 0.5236em;
  --margin-large: 0.8472em;
  --margin-enourmous: 1.3708em;
}

header {
  max-width: 80ch;
  margin: 0 auto;
}
main {
  max-width: 80ch;
  margin: var(--margin-enourmous) auto;
}

.field {
  padding: var(--margin-tiny);
}
.field label {
  width: 20ch;
  display: inline-block;
  text-align: right;
}
.field label:after {
  content: ":";
}


table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: solid thin silver;
}

