<% optional ||= [] %>
<table>
  <thead>
  <tr>
    <% keys.each_with_index do |k, index| %>
      <th <%= optional.include?(index) ? 'class=optional' : '' %>><%= k %></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
    <% rows.each do |row| %>
      <tr>
        <% row.each_with_index do |cell, index| %>
          <td <%= optional.include?(index) ? 'class=optional' : '' %>><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
