<header class="product-header">
  <h1 id="product-name"><%= product.name %></h1>
  <% if product.brand.present? || product.kind.present? %>
    <span class="product-meta">
      <%= [product.brand, product.kind].select(&:present?).join(' - ') %>
    </span>
  <% end %>
</header>

<% if product.description.present? %>
  <p class="product-description"><%= product.description %></p>
<% end %>
