<main>
  <h1>Produtos</h1>

  <%= link_to "Cadastrar novo produto", new_product_path %>
  <%= render 'simple_table', {
    keys: %w(Produto Tipo Descrição Marca), 
    rows: @products.map { |p| [
      (link_to p.name, p),
      p.kind,
      p.description,
      p.brand
    ]}
  }
  %>

</main>
