<h1>Editing pharmacotherapy</h1>

<%= render "form", pharmacotherapy: @pharmacotherapy %>

<br>

<div>
  <%= link_to "Show this pharmacotherapy", @pharmacotherapy %> |
  <%= link_to "Back to pharmacotherapies", pharmacotherapies_path %>
</div>
